$primary: #bdc3c7;
$secondary: #5c676e;
$card-border-radius: 10px;
$card-border-color: #111;
$carousel-control-color: #5c676e;
$carousel-control-width: 5%;
$carousel-control-opacity: 1;


@import "../node_modules/bootstrap/scss/bootstrap";